/* Regular elements */
body {
  background: white;
  color: black;
  font-family: sans-serif;
  font-weight: normal;
  font-size: medium;
  min-width: 500px;
  max-width: 950px;
  margin-left: 3%;
  margin-right: 15%;
}

a:link {
  //color: #3465a4;
  color: #4e9a06;
}

a:visited {
  //color: #204a87;
  color: #73d216;
}


/* the navigation choices at the bottom of the page. */

div#nav {
  color: black;
  float: left;
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 1em 0 0 1em;
  padding: 1px;
  position: fixed;
  text-align: left;
  width: 10em;
}

div#nav a {
  //background-color: #729fcf;
  background-color: #4e9a06;
  border: 1px solid;
  //border-color: #3465a4;
  border-color: #73d216;
  display: block;
  padding: 0.2em 0.5em 0.2em 0.5em ;
  text-decoration: none;
  color: black;
  //font-weight: bold;
}

div#nav a:hover {
  //background-color: #204a87;
  background-color: #73d216;
}

/* the navigation choices for function reference. */

div#nav2 {
  float: right;
  //background-color: #729fcf;
  background-color: #4e9a06;
  //border: 1px solid;
  padding: 3px;
  
  /*color: black;
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 1em 0 0 1em;
  padding: 0;
  position: fixed;*/
  //text-align: right;
}

/* the page content */

div#alphabetical {
  display: block;
  margin-left: 11em;
  margin-top: 1em;
  text-align: center;
}

div#content {
  display: block;
  margin-left: 11em;
  margin-top: 3em;
}

div#sf_logo {
  text-align: right;
  position:relative;
  top: 3em;
}

div.section {
//  display: block;
}

/* the title bar */

div#title {
  width: 100%;
  clear: both;
}

div#title h1 {
  background-color: #ffffff;
  //border-bottom: 4px solid #729fcf;
  border-bottom: 4px solid #4e9a06;
  font-size: xx-large;
  //color: #729fcf;
  color: #4e9a06;
  padding: 0;
  margin: 0;
}

/* The blue title bar on non-main pages */

/*
.header {
color: #ffffff;
background-color: #10a0ff;
font-family: arial,sans-serif;
padding: 0;
font-size: medium;
font-weight: bold;
border: 3px solid #10a0ff;
}
*/

/* Changes for Octave Wiki */

h1 {
background-color: #3465a4;
color: #ffffff;
font-size: xx-large;
padding: 2em;
margin: 8em;
}

h3.question {
  font-size: small;
}

h4,h5,h6 {
color: #3465a4;
font-size: large;
padding: 2px;
margin-top: 5px;
}

/*
code {
  padding: 1px;
  margin-left: 1em;
  border: 1px solid;
  border-color: #babdb6;
  background-color: #d3d7cf;
  color: black;
}
*/

table#main_package_table {
  margin-top: 1em;
  background-color: #d3d7cf;
  border: 1px solid;
  border-color: #babdb6;
  margin: 1em 0 0 0;
  padding: 0.2em 0.5em 0.2em 0.2em;
  text-decoration: none;
}

div#description_box {
  padding-top: 1em;
}

div.package {
  margin-top: 0.2em;
  background-color: #d3d7cf;
  border: 1px solid;
  border-color: #babdb6;
  padding: 0.2em 0.2em 0em 0.2em;
  color: black;
}

a.package_link {
  color: black;
  font-weight: bold;
  font-size: 80%;
  text-decoration: none;
}

a.package_head_link {
  color: black;
  text-decoration: none;
}

table.package {
  table-layout: fixed;
  width: 100%;
}

p.package_link a {
  color: black;
  text-decoration: none;
}

div.see_also {
  color: black;
  background-color: #d3d7cf;
  font-family: sans-serif;
  font-weight: bold;
}
