/* TOP MENU LAYOUT */

div.menu {
    /*background: #8fb171;*/ /* Green3 */
    /*background: #6d8861;*/ /* Green2 */
    /*background: #577749;*/ /* Green */
	/*background: #8789a5;*/ /* Purple */
    /*background: #ff6600;*/ /* Bright orange */
	/*background: #ea5224;*/ /* Orange */
	/*background: #ea9024;*/ /* Puke yellow */
	background: #729fcf;
	//background: white;
	width: 100%;
	position: fixed;
//	position: absolute;
	top: 0px;
	left: 0px;
	padding-bottom: 0em;
	//text-align: center;
}

table.menu {
    border: none;
    border-style: hidden;
    width: 100%;
    height: 4em;
    padding-left: 5%;
	padding-right: 0em;
	padding-top: 0.5em;
	padding-bottom: 0em;
	color: #363636;
}
td.menu {
    border: none;
}
a.menu {
	text-decoration: none;
	color: black;
	background-color: inherit;
	font-size: 80%;
}
a.menu:visited {
    color: black;
}
a.menu:link {
    color: black;
}
a.menu:hover {
    text-decoration: underline;
}
big.menu {
    font-style: normal;
    font-size: 120%;
	letter-spacing: 0.1em;
	line-height: 1.2em;
	font-weight: bold;
}
small.menu {
    font-style: italic;
    font-size: 80%;
}

/* END TOP MENU LAYOUT */

/* Regular elements */
body {
  background: white;
  color: black;
  font-family: sans-serif;
  font-weight: normal;
  font-size: medium;
  min-width: 500px;
  max-width: 950px;
  margin-left: 3%;
  margin-right: 15%;
}


a:link {
  background-color: inherit;
  //color: #4e9a06;
  color: black;
}

a:visited {
  background-color: inherit;
  //color: #73d216;
  color: black;
}



/* the navigation choices at the bottom of the page. */

div#nav {
  background: white;
  color: black;
  float: left;
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 1em 0 0 1em;
  padding: 1px;
  position: fixed;
  /*text-align: left;*/
  width: 10em;
}

div#nav a {
  background-color: #73d216;
  border: 1px solid;
  border-color: #4e9a06;
  display: block;
  padding: 0.2em 0.5em 0.2em 0.5em ;
  text-decoration: none;
  color: black;
}

div#nav a:hover {
  background-color: #4e9a06;
  color: inherit;
}

div#nav div#currentnav {
  background-color: #ccccdd;
  border: 1px solid;
  border-color: #4e9a06;
  display: block;
  padding: 0.2em 0.5em 0.2em 0.5em ;
  text-decoration: none;
  color: black;
  text-align: right;
}

/* the navigation choices for function reference. */

div#nav2 {
  float: right;
  background-color: #73d216;
  color: black;
  padding: 3px;
}

/* The style for the function reference sections */
.func {
  background-color: inherit;
  color: inherit;
  text-align: left;
  display: block;
  float: left;
}

.flink {
  background-color: inherit;
  color: inherit;
  text-align: right;
  display: block;
  float: right;
}

.ftext {
  margin-left: 5ex;
  margin-bottom: 2ex;
  clear: both;
}

/* the page content */

#content {
  display: block;
  margin-left: 6em;
  margin-top: 4.5em;
  padding-top: 1em;
}
#doccontent {
  //display: block;
  margin-left: 18em;
  margin-top: 4.5em;
  padding-top: 1em;
}

div#sf_logo {
  text-align: right;
  position: relative;
  display: block;
  float: right;
  top: 3em;
}

/* NEWS FLASH */
h2.flash {
  font-style: normal;
  font-size: 120%;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: bold;
  color: black;
}
div.flash {
    border: solid 3px black;
    width: 70%;
    background: #fcaf3e; /* Orange */
    padding: 0.3em;
}
/* END NEWS FLASH */


/* the title bar */

div#title {
  width: 100%;
  clear: both;
  position: fixed;
  top: 0;
}

div#title h1 {
  background-color: #ffffff;
  border-bottom: 4px solid #73d216;
  font-size: xx-large;
  color: #73d216;
  padding: 0;
  margin: 0;
}

/* The blue title bar on non-main pages */

/*
.header {
  color: #ffffff;
  background-color: #10a0ff;
  font-family: arial,sans-serif;
  padding: 0;
  font-size: medium;
  font-weight: bold;
  border: 3px solid #10a0ff;
}
*/

/* Changes for Octave Wiki */

h1 {
  background-color: #3465a4;
  color: #ffffff;
  font-size: xx-large;
  padding: 2em;
  margin: 8em;
}

h3.question {
  font-size: small;
}

h4, h5, h6 {
  background-color: inherit;
  color: #3465a4;
  font-size: large;
  padding: 2px;
  margin-top: 5px;
}

/*
code {
  padding: 1px;
  margin-left: 1em;
  border: 1px solid;
  border-color: #babdb6;
  background-color: #d3d7cf;
  color: black;
}
*/

table#main_package_table {
  background-color: #d3d7cf;
  color: inherit;
  border: 1px solid;
  border-color: #babdb6;
  margin: 1em 0 0;
  padding: 0.2em 0.5em 0.2em 0.2em;
  text-decoration: none;
}

div#description_box {
  padding-top: 1em;
}

div.package {
  margin-top: 0.2em;
  background-color: #d3d7cf;
  border: 1px solid;
  border-color: #babdb6;
  padding: 0.2em 0.2em 0;
  color: black;
}

a.package_link {
  background-color: inherit;
  color: black;
  font-weight: bold;
  font-size: 80%;
  text-decoration: none;
}

a.package_head_link {
  background-color: inherit;
  color: black;
  text-decoration: none;
}

table.package {
  table-layout: fixed;
  width: 100%;
}

p.package_link a {
  background-color: inherit;
  color: black;
  text-decoration: none;
}

div.see_also {
  color: black;
  background-color: #d3d7cf;
  font-family: sans-serif;
  font-weight: bold;
}

dt {
  font-weight: bold;
}

/* Documentation left menu */
div.left-menu {
	background: #EEEEEE;
	border: solid 2px;
	border-top: none;
	width: 14em;
	position: fixed;
	top: 6.5em;
	bottom: 0em;
	left: 0px;
	overflow: auto;
	padding-left: 1em;
	padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#left-switcher {
	//border: solid 2px;
	width: 15em;
	height: 2em;
	position: fixed;
	top: 4.5em;
	left: 0px;
	padding: 0em;
}

div.tab {
    border: solid;
    border-bottom: none;
    width: 7.5em;
    background: #EEEEEE; 
    position: absolute;
    bottom: -1px;
    text-align: center;
    cursor: pointer;
}

div#cat-tab {
    border: solid 2px;
    border-bottom: none;
    z-index: 3;
    font-weight: bold;
    height: 1.3em;
}

div#alpha-tab {
    border: solid 1px;
    border-bottom: solid 2px;
    left: 7.5em;
    z-index: 2;
    height: 1.2em;
}

