/* Regular elements */
body {
  background: white;
  color: black;
  font-family: sans-serif;
  font-weight: normal;
  font-size: medium;
  min-width: 500px;
  max-width: 950px;
  margin-left: 3%;
  margin-right: 15%;
}

a:link {
  background-color: inherit;
  color: #4e9a06;
}

a:visited {
  background-color: inherit;
  color: #73d216;
}


/* the navigation choices at the bottom of the page. */

div#nav {
  background: white;
  color: black;
  float: left;
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 1em 0 0 1em;
  padding: 1px;
  position: fixed;
  /*text-align: left;*/
  width: 10em;
}

div#nav a {
  background-color: #73d216;
  border: 1px solid;
  border-color: #4e9a06;
  display: block;
  padding: 0.2em 0.5em 0.2em 0.5em ;
  text-decoration: none;
  color: black;
}

div#nav a:hover {
  background-color: #4e9a06;
  color: inherit;
}

div#nav div#currentnav {
  background-color: #ccccdd;
  border: 1px solid;
  border-color: #4e9a06;
  display: block;
  padding: 0.2em 0.5em 0.2em 0.5em ;
  text-decoration: none;
  color: black;
  text-align: right;
}

/* the navigation choices for function reference. */

div#nav2 {
  float: right;
  background-color: #73d216;
  color: black;
  padding: 3px;
}

/* The style for the function refeence sections */
.func {
  background-color: inherit;
  color: inherit;
  text-align: left;
  display: block;
  float: left;
}

.flink {
  background-color: inherit;
  color: inherit;
  text-align: right;
  display: block;
  float: right;
}

.ftext {
  margin-left: 5ex;
  margin-bottom: 2ex;
  clear: both;
}

/* the page content */

div#content {
  display: block;
  margin-left: 11em;
  margin-top: 3em;
}

.sf_logo {
  text-align: right;
  position: relative;
  display: block;
  float: right;
  top: 3em;
}

/* the title bar */

div#title {
  width: 100%;
  clear: both;
}

div#title h1 {
  background-color: #ffffff;
  border-bottom: 4px solid #73d216;
  font-size: xx-large;
  color: #73d216;
  padding: 0;
  margin: 0;
}

/* The blue title bar on non-main pages */

/*
.header {
  color: #ffffff;
  background-color: #10a0ff;
  font-family: arial,sans-serif;
  padding: 0;
  font-size: medium;
  font-weight: bold;
  border: 3px solid #10a0ff;
}
*/

/* Changes for Octave Wiki */

h1 {
  background-color: #3465a4;
  color: #ffffff;
  font-size: xx-large;
  padding: 2em;
  margin: 8em;
}

h3.question {
  font-size: small;
}

h4, h5, h6 {
  background-color: inherit;
  color: #3465a4;
  font-size: large;
  padding: 2px;
  margin-top: 5px;
}

/*
code {
  padding: 1px;
  margin-left: 1em;
  border: 1px solid;
  border-color: #babdb6;
  background-color: #d3d7cf;
  color: black;
}
*/

table#main_package_table {
  background-color: #d3d7cf;
  color: inherit;
  border: 1px solid;
  border-color: #babdb6;
  margin: 1em 0 0;
  padding: 0.2em 0.5em 0.2em 0.2em;
  text-decoration: none;
}

div#description_box {
  padding-top: 1em;
}

div.package {
  margin-top: 0.2em;
  background-color: #d3d7cf;
  border: 1px solid;
  border-color: #babdb6;
  padding: 0.2em 0.2em 0;
  color: black;
}

a.package_link {
  background-color: inherit;
  color: black;
  font-weight: bold;
  font-size: 80%;
  text-decoration: none;
}

a.package_head_link {
  background-color: inherit;
  color: black;
  text-decoration: none;
}

table.package {
  table-layout: fixed;
  width: 100%;
}

p.package_link a {
  background-color: inherit;
  color: black;
  text-decoration: none;
}

div.see_also {
  color: black;
  background-color: #d3d7cf;
  font-family: sans-serif;
  font-weight: bold;
}

dt {
  font-weight: bold;
}
