/*
#main {
	margin-left: 5em;
	padding-top: 4em;
	padding-left: 1em;
	padding-bottom: 2em;
	width: 70%;
}
*/

body {
	width: 70%;
}

table#main_package_table {
  background-color: #dde4ff;
  border: 1px solid;
  border-color: #10a0ff;
  padding: 0.2em 0.5em 0.2em 0.5em ;
  text-decoration: none;
  color: #1155dd;
}

table#main_package_table.val {
  background-color: red;
}

div#description_box {
  padding-top: 1em;
}
