Source: octave-gpc
Section: contrib/math
Priority: optional
Maintainer: Rafael Laboissiere <rafael@debian.org>
Standards-Version: 3.5.6
Build-Depends: debhelper, libgpcl-dev, octave2.1-headers

Package: octave-gpc
Architecture: i386 alpha arm hppa m68k mips mipsel powerpc s390 sparc
Depends: octave2.1 (>> 2.1.36), ${shlibs:Depends}
Recommends: octave-forge
Description: Octave bindings for the General Polygon Clipper Library
 GPC is a flexible and highly robust polygon set operations library for use
 with C applications.  This package contains bindings for use of the library
 functions with Octave.

